{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Base title {% endblock title %}</title>
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
    <div class="container mt-1 mb-5">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{% url "product_list" %}">Главная</a>
      </li>
        <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{% url "product_create" %}">Новая</a>
      </li>
        {% block nav %}
        {% endblock nav %}
    </ul>
        <h2>{% block header-text %}{% endblock header-text %}</h2>
        {% block content %} {% endblock content %}
    </div>
</body>
</html>