{% extends 'base.html' %}
{% block header-text %} Список товаров {% endblock header-text %}
{% block content %}
{% for product in products %}
    {% if product.remainder >= 1 %}
        <div class="card text-center">
          <div class="card-header text-capitalize ">
              {{ product.get_category_display }}
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <a href="#" class="btn btn-outline-success">>Детальный просмотр</a>
          </div>
          <div class="text-primary fs-5">
            {{ product.price }}
          </div>
        </div>
    {% endif %}
{% endfor %}
{% endblock content %}