{% extends 'base.html' %}

{% block content %}
    <h4>Время проведенное на сайте: {{ time }}</h4>
    <h4>Количество кликов: {{ cls }} </h4>
    <p>статистика страницы stat учитывается при подсчете общих данных, но отдельно не выводится,
    потомучто логика работает таким образом что актуальные значения у всех кроме последний страницы
    куда мы зашли, так как для нее пока невозможно определить время проведенное в ней</p>

    {% for page, value in pages.items %}
        <h5>{{ page }}:</h5>
        {% for key, item in value.items %}
        <p>{{ key }}: {{ item }}</p>
        {% endfor %}
        <hr>
    {% endfor %}
{% endblock content %}