{% extends 'base.html' %}
{% block title %} Главная страница {% endblock title %}
{% block header-text %} Список товаров {% endblock header-text %}
{% block content %}
        <ul class="list-group list-group-flush">
        <h4>Категории</h4>
        {% for category, display_category in categories %}
          <li class="list-group-item"><a class="nav-link active" aria-current="page" href="{% url "product_category_list" category%}">{{ display_category }}</a></li>
        {% endfor %}
        </ul>
    {% include "partial/search_form.html" %}
    {% include 'product/list.html' with product_list=products %}
    {% include 'partial/paginate.html' %}

{% endblock content %}