{% extends 'base.html' %}
{% block title %} Страница продукта {% endblock title %}
{% block header-text %} Детальный просмотр товара {% endblock header-text %}
{% block nav %}
    {% if user.is_authenticated and perms.online_store.change_product %}
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url "product_update" product.pk %}">Редактировать</a>
        </li>
    {% endif %}
    {% if user.is_authenticated and perms.online_store.delete_product %}
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url "product_delete" product.pk %}">Удалить</a>
        </li>
    {% endif %}
{% endblock nav %}
{% block content %}
    <div class="card text-center">
      <div class="card-header text-info">
        Категория: {{ product.get_category_display}}
      </div>
      <div class="card-body">
        <h5 class="card-title">Название: {{ product.name }}</h5>
        <p class="card-text">Описание: {{ product.description}}</p>
        <p class="text-primary mt-2 mb-2"> Цена: {{ product.price }}</p>
        <a href="{% url 'add_to_cart' product.id %}" class="btn btn-outline-primary">>Добавить в корзину</a>

      </div>
      <div class="card-footer text-info">
        Остаток: {{ product.remainder }}
      </div>
    </div>


{% endblock content %}