{% extends 'base.html' %}
{% block title %} Страница продукта {% endblock title %}
{% block header-text %} Детальный просмотр товара {% endblock header-text %}
{% block nav %}
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{% url "product_update" product.pk %}">Редактировать</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{% url "product_delete" product.pk %}">Удалить</a>
    </li>
{% endblock nav %}
{% block content %}
    <div class="card text-center">
      <div class="card-header text-info">
        Категория: {{ product.get_category_display}}
      </div>
      <div class="card-body">
        <h5 class="card-title">Название: {{ product.name }}</h5>
        <p class="card-text">Описание: {{ product.description}}</p>
        <p class="text-primary mt-2 mb-2"> Цена: {{ product.price }}</p>
      </div>
      <div class="card-footer text-info">
        Остаток: {{ product.remainder }}
      </div>
    </div>


{% endblock content %}